.ResultBox {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 250px;
}

.ResultBox .icon {
    height: 100px;
    width: 100px;
}

.ResultBox .value {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 200px;
}

.ResultBox .title {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 200px;
}
