.ResultBox {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #00000040;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
}

.ResultBox .left {
    width: 34%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: black 3px solid;

}

.ResultBox .right {
    margin: 1%;
    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ResultBox .left .icon {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
}

.ResultBox .value {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
    width: 100%;
    border: 1px black solid;
}

.ResultBox .left .title {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: auto;
    font-weight: 700;
    text-align: center;
    height: 25px;
    width: auto;
    max-width: 200px;
}
