.SysEnv {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1%;
    width: 30%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.SysEnv .title {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
    border: 1px black solid;
}

.SysEnv .subtitle {
    margin-top: 5px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border: 1px solid black;
}

.SysEnv .row {
    margin-top: 5px;
    color: #000000;
    background-color: white;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid black;
}