.tip {
    border: #000000 3px solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% 10% 2% 10%;
    min-height: 200px;
    height: auto;
    width: 80%;
    
}

.tip .thumbnail {
    border: #000000 solid 3px;
    min-width: 200px;
    min-height: 200px;
}

.tip .right {
    flex-direction: column;
}

.tip .title {
    border: #000000 solid 3px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    height: auto;
    width: auto;
}

.tip .contents {
    border: #000000 solid 3px;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: auto;
    width: auto;
}
