.tip {
    border: #000000 3px solid;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: 180px;
    width: 80%;
}

.tip .thumbnail {
    border: #000000 solid 3px;
    object-fit: cover;
    position: absolute;
    left: 20px;
    top: 15px;
    height: 80%;
    width: 12%;
}

.tip .title {
    border: #000000 solid 3px;
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 16%;
    top: 5%;
    height: 40%;
    width: 80%;
}

.tip .contents {
    border: #000000 solid 3px;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    left: 16%;
    top: 50%;
    height: 40%;
    width: 80%;
}
