.code-editor {
    border: 2px black solid;
    border-radius: 20px;
    margin: 2% 5% 2% 5%;
    padding: 3vh;
    height: 70vh;
}
.editor-header {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}
.run-button {
    flex:0;
    height: 3vh;
    width: 6vh;
    background-color: #f73535;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.run-button .text-run {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 2vh;
    font-weight: 600;
    text-align: center;
    height: 28px;
    width: 65px;
}

.editor {
    border: 2px black solid;
}

.exp { 
    display: flex;
    flex-direction: row;
    margin: 2% 5% 2% 5%;
    border: 1px solid;
    height: auto;
}

.exp .sysenv { 
    width: 50%;
    border: 1px solid;
}

.exp .result{ 
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid;
}
.exp .result .row {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

