.editor {
    border: 2px black solid;
}

.exp { 
    display: flex;
    border: 1px solid;
    height: auto;
}

.exp .sysenv { 
    width: 50%;
    border: 1px solid;
}

.exp .result{ 
    width: 50%;
    border: 1px solid;
}
.exp .result .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

