.each-tip-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}
.each-tip-page .container {
    border: black solid 3px;
    height: 100%;
    width: 80%;
    max-width: 1200px;
    margin-top: 1%;
}

.each-tip-page .container .title {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    border-bottom: green 5px solid;
    height: auto;
    min-height: 70px;
    width: 98%;
    margin: 1%;
}

.each-tip-page .container .content {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.each-tip-page .subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.each-tip-page .container .image {
    width: auto;
    height: auto;
    border: #000000 3px solid;
}
