.each-tip-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}

.each-tip-page .container {
    border: black solid 3px;
    height: 100%;
    width: 90%;
}

.each-tip-page .container .title {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border: #000000 3px solid;
    height: 70px;
    width: 100%;
}

.each-tip-page .container .content {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    border: #000000 3px solid;
}
